.App{
  display: flex;
}

.noteList_container {
  width: 30vw;
  height: auto;
  display: flex;
  color: rgb(1 93 93);
  margin-left: 150px;
}


.note_container{
  width: 80vw;
}

.noteHeader_container {
  color: rgb(1 93 93);
}

